body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#code_display_parent{
    background-color: gray;
    width: 30%;
    position: relative;
}
.program_controlls{
    width: 100%;
}
.control-btn{
    width: 50%;
    margin: 0px;
    border: 0px solid;
    height: 5vh;
    color: white;
    font-size: 20px;
}


#play-btn{
    background-color: rgb(29, 172, 29);
}
#play-btn:hover{
    background-color: rgb(24, 145, 24);
}
.program-direction-button{
    background-color: rgb(0, 183, 255);
}
.program-direction-button:hover{
    background-color: rgb(0, 154, 215);
}
.program-direction-button:active{
    background-color: rgb(0, 127, 177);
}
#pause-btn{
    background-color: rgb(172, 29, 29);
}
#pause-btn:hover{
    background-color: rgb(139, 23, 23);
}


#blocklyDiv {
    border: 0px solid;
}

.blocklyMainBackground{
    stroke-width: 0px;
    color: #1b97b3;
}