@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* New Colors */
    --color-hva-purple: #25167A;
    --color-marine: #351FB7;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-deep-sea: #1E1649;
    --color-fresh: #02857D;
    --color-sweet: #F35279;

    /* Deprecated */
    --hva-color-dark: #25167A;
    --hva-color-light: #351FB7;
    --hva-color-darker: #200f60;
    --hva-color-lighter: rgb(54, 29, 155);
    --hva-color-buttons: #25167A;
    --hva-color-buttons-hover: #F35279;
    --hva-color-text: #ffffff;

    font-size: 62.5%;
}

:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-marine);
    margin: 0;
    padding: 0;
}

span {
    font-size: 1.4rem;
}

h1 {
    color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 24px 120px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.top-bar .logo {
    height: 5vh;
    margin-top: 1vh;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px;
}

.header-nav {
    font-size: 1.8rem;
    font-weight: bold;
}

.header-nav.navigation-link::after {
    border-bottom: 4px solid;
    bottom: -4px;
}

#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 10vh;
    background-color: var(--hva-color-darker);
}

.menu h1 {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: var(--hva-color-text);
    margin: 0vh;
}

.btn {
    color: white;
    padding: 10px;
    background-color: var(--hva-color-buttons);
    border: 0px;
}

.btn:hover {
    background-color: var(--hva-color-buttons-hover);
}

.redirect-container {
    display: flex;
    flex-direction: column;
    background-color: var(--hva-color-lighter);
    justify-content: center;
    overflow-x: wrap;
    padding: 5px 0px 5px 0px;
}

.redirect-container a {
    color: white;
    width: 100%;
    margin-top: 10px;
    background-image: linear-gradient(to right, transparent 20px, var(--hva-color-buttons) 20px, var(--hva-color-buttons) 100%);
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    z-index: 10;
    position: relative;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.button-with-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    text-align: left;
    pointer-events: none;
    padding-right: 16px;
    padding: 24px 24px 24px 0;
}

.button-with-icon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    z-index: -10;
    opacity: 0;
}

.redirect-container a:hover .button-with-icon:after {
    opacity: 1;
    background-image: linear-gradient(to right, transparent 20px, var(--hva-color-buttons-hover) 20px, var(--hva-color-buttons-hover) 100%);
}

.redirect-container a:hover .button-icon .icon-arrow-pointer {
    margin-left: 10px;
}

.redirect-container a:hover .button-label {
    margin-left: 10px;
}

.redirect-container a:hover .button-label .button-span::after {
    width: calc(100% + 8px);
}

.button-label {
    position: relative;
    margin-top: 6px;
    padding-bottom: 10px;
    -webkit-transition: margin-left .2s ease-in-out;
    transition: margin-left .2s ease-in-out;
}

.button-span {
    font-size: 2rem;
    padding-bottom: 6px;
}

.button-span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-box-shadow: 0 4px var(--hva-color-text);
    box-shadow: 0 4px var(--hva-color-text);
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.button-icon {
    position: relative;
    height: 40px;
    width: 40px;
}

.icon-arrow-line,
.icon-arrow-pointer {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: margin-left .2s ease-in-out;
    transition: margin-left .2s ease-in-out;
}

#toggleDrawer {
    background-color: var(--hva-color-lighter);
    color: white;
    position: fixed;
    right: 0px;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    transition: bottom 0.3s ease-in-out;
}

#toggleDrawer:hover {
    background-color: var(--hva-color-darker);
}

#toggleDrawer.open {
    bottom: 30vh;
}

#is-connected {
    margin: 20px;
}

.connection-display-container {
    background-color: var(--hva-color-lighter);
    color: var(--hva-color-text);
    width: 100%;
    height: 30vh;
    position: fixed;
    bottom: -30vh;
    transition: bottom 0.3s ease-in-out;
}

.connection-display-container.open {
    bottom: 0px;
}

.connection-display-container h1 {
    font-size: 20px;
}

.information-span,
.information-value {
    display: inline-block;
    padding: 10px 0;
}

.information-container {
    margin: 10px 0;
    display: flex !important;
}

.information-span {
    width: 150px;
}

.information-value {
    flex: 1;
    background-color: var(--hva-color-light);
    padding-left: 10px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.stop-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 1px;
}


.stop-btn-smaller {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    width: 120px;
    margin: 5px 0;
    cursor: pointer;
    min-width: 120px;
    border-radius: 5px;
}

.stop-btn-smaller:hover {
    background-color: #c1c1c1;
}

.stop-btn-smaller:active {
    background-color: #898989;
}

/** Connect to robot styling **/

.table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.robot-list-container-wrapper {
    width: 80%;
    max-width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.robot-list-header {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.robot-list-container {
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

.robot-list-item {
    padding: 10px;
    background-color: #ecf0f1;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}

.robot-list-item:hover {
    background-color: #bdc3c7;
}

.robot-name-input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 1.4rem;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/** Footer styling **/

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 40px 0;
}

.footer-wrapper {
    margin-left: 32px;
    margin-right: 32px;
    position: relative;
    max-width: calc(100vw - 32px);
    display: grid;
}

.row {
    grid-column: 1 / -1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0 32px;
    gap: 0 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content {
    grid-column: 1 / -1;
    display: grid;
    grid-column-gap: 32px;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
    grid-row-gap: 40px;
    row-gap: 40px;
    margin-bottom: 40px;
}

.navigation-link.active {
    color: var(--color-sweet);
}

.navigation-link::after {

}

.navigation-link.active::after {
    color: var(--color-sweet);
    border-bottom: 4px solid;
    opacity: 1;
    left: 8px;
    bottom: -4px;
}

.navigation-link {
    color: var(--color-white);
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.navigation-link::after,
.social-link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    border-bottom: 1px solid;
    width: calc(100% - 4px);
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out, left .2s ease-in-out;
    transition: opacity .2s ease-in-out, left .2s ease-in-out;
}

.navigation-link:hover::after,
.social-link:hover span::after {
    left: 10px;
    opacity: 1;
}

.social-link:hover {
    color: var(--color-sweet);
}

.social-link {
    cursor: pointer;
    color: currentColor;
    display: grid;
    grid-template-columns: 40px 1fr;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    transition: color .2s ease;
}

.social-link span {
    margin-left: 8px;
    position: relative;
    display: inline-block;
}

.social-link svg {
    width: 30px;
    height: 30px;
}

.footer-category {
    font-size: 20px;
    font-weight: 800;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 0 26px;
    padding-right: 8px;
}

.footer-category::after {
    content: "";
    position: absolute;
    left: 16px;
    bottom: -10px;
    border-bottom: 4px solid;
    width: calc(100% - 16px);
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list li:not(:last-child) {
    margin-bottom: 16px;
}

.footer-list a {
    margin-left: 16px;
    width: fit-content;
}

.footer-bottom {
    grid-column: 1 / -1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    row-gap: 80px;
}

.footer-bottom img {
    height: 24px;
    width: 229px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.footer-bottom-list {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
    padding: 0;
}

.footer-bottom-list li {
    width: fit-content;
}

@media only screen and (max-width: 768px) {
    .top-bar .logo {
        margin-right: 0vh;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
        gap: 16px;
    }

    .wrapper {
        margin-left: 16px;
        margin-right: 16px;
    }

    .redirect-container a {
        width: 95%;
        margin: 5px 0px 5px 0px;
    }
}

@media only screen and (min-width: 768px) {
    .redirect-container {
        flex-direction: row;
    }

    .wrapper {
        max-width: none;
        grid-template-columns: 1fr minmax(auto, 1600px) 1fr;
    }

    .wrapper>.row {
        grid-column: 2 /3;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 64px;
        margin-bottom: 104px;
    }

    .footer-bottom {
        row-gap: 32px;
        margin-top: 40px;
    }

    .footer-bottom-list {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
        column-gap: 40px;
    }
}

@media only screen and (min-width: 1024px) {
    .footer-content {
        grid-template-columns: repeat(auto, 1fr);
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        margin-bottom: 120px;
    }

    .footer-bottom {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 0;
        -webkit-column-gap: 120px;
        -moz-column-gap: 120px;
        column-gap: 120px;
    }

    .footer-bottom-list {
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
}


.redirect-container a.active .button-with-icon {
    background-color: var(--color-sweet);
    color: #ffffff;
}