body {
  font-family: "Helvetica Neue";
}
.draggable {
  /* position: absolute; */
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}
.draggable-parent {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
#create-container{
  display: flex;
  flex-direction: column;
  width: 200px;
}
#upload-button{
  background-color: #d3d3d3;
  margin-top: 30px;
  padding: 20px;
  color: black;
  font-size: 20px;
}

.draggable-button {
    padding: 15px;
    font-size: 20px;
    cursor: move;
    z-index: 10;
    color: #fff;
    border-radius: 10px 0px 0px 10px;
}
.forward {
  background-color: #2196F3;
}
.forward-input{
  width: 50px;
}

.wait {
  background-color: #d51010;
}

.move {
  background-color: #f321b8;
}

.turn{
  background-color: #179e20;
}

.animation{
  background-color: #add8e6;
}

.list-item{
  position: absolute;
  left: 2px;
  color: rgb(21, 21, 21);
}
  
#draggable-container {
  width: 500px;
  height: 800px;
  background-color: rgb(240, 240, 240);
  /* position: absolute; */
  z-index: -1;

}
.create-draggable-button{
    width: 200px;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    margin: 10;
    border-radius: 10px;
}
.total-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  z-index: -20;
}