.draggable {
  /* position: absolute; */
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}
.draggable-parent {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 5px;
}
#create-container{
  display: flex;
  flex-direction: row;
}

.draggable-button {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
}
.forward {
  background-color: #2196F3;
}
.forward-input{
  width: 50px;
}

.wait {
  background-color: #d51010;
}

.jump-to {
  background-color: #f321b8;
}

.turn{
  background-color: #21f32f;
}


  

  #draggable-container {
    width: 500px;
    height: 300px;
    background-color: gray;
    position: absolute;
    z-index: -1;
  }
.create-draggable-button{
    width: 200px;
}